<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="shortcut icon" href="../troc.jpeg" />
        <link rel="stylesheet" href="./reset.css" />
        <link rel="stylesheet" href="./backend.css" />
        <script src="./jquery-1.6.2.min.js"></script>
        <script>
            $(document).ready(()=>{
                $('#getKey').click(()=>{
                    console.log($('#key').val().length)
                    if($('#key').val().length!=5){
                        alert("Key must be 5 characters long");
                        return false;
                    }
                    else{
                        window.open('https://codecungtroc.ml/key/'+$('#key').val(), '_blank');
                    }
                });
            });
        </script>
        <title>Welcome to Codecungtroc.ml</title>
        <meta name="description" content="Codecungtroc is an online text editor that allows real-time collaboration.">
        <style>
body{
    background-color: #E3E3E3!important;
    font-family: georgia,verdana,arial!important;
}
#getKey{
    border: 0;
    color: white;
    background: #d78837;
    font-size: 17px;
    border-radius: 2px;
}
#getKey:hover{
    font-family: 'Courier New', Courier, monospace;
}
#key{
    padding-left: 3px;
}
#wrap {
margin: 0px auto;
}
#left {
float: left;
width: 450px;
padding-bottom: 20px;
}
#right {
float: right;
margin-left: 30px;
padding-bottom: 20px;
}
#langs-table-intro {
margin-top: 40px;
text-align: center;
}
#langs-table {
margin-top: 20px;
}
#langs-table th {
border-bottom: 1px solid #ccc;
}
#langs-table tr.total-row {
border-top: 1px solid #ccc;
}
#langs-table tr.total-row td {
padding-top: 10px;
font-weight: bold;
}
#langs-table td,th {
padding: 4px 10px 4px 10px;
}
#langs-table td.pct {
font-size: .7em;
color: #888;
text-align: right;
padding-right: 25px !important;
}
#langs-table td.lang-number {
text-align: right;
padding-left: 25px !important;
}
#programming-languages-more-wrap {
margin-top: 20px;
text-align: center;
}
#programming-languages-more {
color: #888;
text-style: italic;
}
#testimonialdiv, #footer {
clear: both;
}
#usagesdiv {
padding-top: 20px;
clear: both;
}
#testimonialdiv {
border-top: 2px solid #3CA0D0;
padding-top: 20px;
}
.usebox {
border: none;
text-align: center;
}
#social-sharing {
margin-top: 30px;
}

</style>

 <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
 <script src="./bootstrap/jquery.min.js"></script>
 <script src="./bootstrap/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logos">
                <a id="logotext" href="/">Codecungtroc</a>
                <br>
            </div>
        </div>
        <div id="login_info" style =display:inline-flex;margin:20px;margin-right:8%;>
            <div class="login_info_buttons" >
                <a class="loginInfoButton" href="/login" <%-name==''?"":"style=display:none;"%>>
                    <img src="./log_in.png">
                </a>
            </div>
            <div class="login_info_buttons">
                <a class="loginInfoButton" href="/signup" <%-name==''?"":"style=display:none;"%>>
                    <img src="./sign_up.png">
                </a>
            </div>
            <li class="dropdown user user-menu" style =list-style:none;>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="hidden-xs" style ="color:white;font-size:25px"><%-name%></span>
                    </a>
                    <ul class="dropdown-menu" style ="text-align: center;background:#3CA0D0;border:0">
                      <li>
                            <div class="pull-left">
                              <a href="/profile" class="btn btn-default btn-flat">My data</a>
                            </div>
                            <div class="pull-right">
                              <a href="/signout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
        </div>

        
        <div id="main">
            <div id="wrap">
                <div id="left">
                    <h1 class="label1">Online Code Editor</h1>
                    <p>
Collabedit is an online code editor that lets people collaborate in real-time.
</p>
                    <p>
It works in your web browser so no installation is needed.
</p>
                    <p>
Try it now, just login and click 
                        <a href="/new">here</a>.
                    </p>
                    <div class="label1" style="margin-top: 20px">Features</div>
                    <br>
                    <ul>
                        <li>text editor</li>
                        <li>chat real time</li>
                        <li>video call</li>
                        <li>syntax highlighting for programming languages</li>
                    </ul>
                </div>
                <div id="right" style="margin-top:5%">
                    <div style="text-align: center">
                        <a href="/new">
                            <img src="./create_new_button.png" style="border: none" alt="create a new collaborative document">
                        </a>
                    </div>
                    <br><br>
                    <span>or join key:</span>
                    <input maxlength=5 id="key" type = "text" placeholder ="Example: 368gt">
                    <button id="getKey">JOIN</button>
                </div>
                
                <div style="clear:both"></div>
                <div id="usagesdiv">
                    <div class="label1">
Useful For
</div>
                    <table style="width:100%;margin-top:20px">
                        <tr>
                            <td class="usebox" style="width:33%">
                                <a href="http://collabedit.com/articles/TechnicalPhoneInterviews">
                                    <img src="./phone.png" alt="Technical Phone Interviews">
                                </a>
                                <br>
                                <br>
                                <a href="http://collabedit.com/articles/TechnicalPhoneInterviews">Technical Phone Interviews</a>
                            </td>
                            <td class="usebox" style="width:33%">
                                <a href="http://collabedit.com/articles/CollaborativeCoding">
                                    <img src="./code.png" alt="Collaborative Coding">
                                </a>
                                <br>
                                <br>
                                <a href="http://collabedit.com/articles/CollaborativeCoding">Collaborative Coding</a>
                            </td>
                            <td class="usebox" style="width:33%">
                                <a href="http://collabedit.com/articles/TeachProgramming">
                                    <img src="./teach.png" alt="Teach Programming">
                                </a>
                                <br>
                                <br>
                                <a href="http://collabedit.com/articles/TeachProgramming">Teach Programming</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="height:30px"></div>
                <div id="testimonialdiv">
<div id="footer">
    &copy; 2016 
                <a href="/">Codecungtroc.ml</a>
    |
                <a href="/">about</a>
    |
                <a href="/">faq</a>
    |
                <a href="/">help</a>
    |
                <a href="/">updates</a>
    |
                <a href="/">legal</a>
            </div>
            
    </body>
</html>
</body>
</html>