<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="shortcut icon" href="../troc.jpeg" />
        <link rel="stylesheet" href="../reset.css" />
        <link rel="stylesheet" href="../backend.css?v=c25a8" />
        <script src="../jquery-1.6.2.min.js"></script>
        <title>Sign up</title>
        <link rel="stylesheet" href="../login.css" />
        <script>
                function formCheck(){
                    var Username = signup_form.Username.value;
                    var Password = signup_form.Password.value;
                    if(Username == null || Username == '' || Password == null || Password == '')
                        {
                            alert("Username or Password is missing");
                            return false;
                        }
                    alert("Success");
                    return true;
                }
            </script>
    </head>
    <body>
        <div id="header">
            <div id="logos">
                <a id="logotext" href="/">Codecungtroc</a>
                <br>
            </div>
        </div>
        <div id="login_info" style ="display: inline-flex;margin:20px;">
            <div class="login_info_buttons">
                <a class="loginInfoButton" href="/login">
                    <img src="../log_in.png">
                </a>
            </div>
            <div class="login_info_buttons">
                <a class="loginInfoButton" href="/signup">
                    <img src="../sign_up.png">
                </a>
            </div>
        </div>
        <div id="ch-block" style="display:none">
            <a id="ch-block-link" href="">
                <img id="ch-block-img" src="">
            </a>
        </div>
        <div id="main">
            <table>
                <tr>
                    <td style="vertical-align: top">
                        <div class="label1">Sign Up</div>
                        <div>
                            <form name="signup_form" action="signup" method="post">
                                <div class="formlabel">Username</div>
                                <div>
                                    <input name="Username" type="text">
                                </div>
                                <div class="formlabel">Password</div>
                                <div>
                                    <input name="Password" type="password">
                                </div>
                                <div class="formlabel">Confirm Password</div>
                                <div>
                                    <input type="password">
                                </div>
                                
                                <div style="margin-top: 20px">
                                    <input type="submit" onclick="return formCheck()" value="SignUp" style="padding: 5px 20px 5px 20px;font-size:1.5em;border-radius:3px;background-color: #ddd">
                                </div>
                            </form>
                        </div>
                    </td>
                    <td style="width: 100%">
                    </td>
                </tr>
            </table>
        </div>
        <div id="footer">
&copy; 2016 
            <a href="/">codecungtroc.ml</a>
|
            <a href="/">about</a>
|
            <a href="/">faq</a>
|
            <a href="/">help</a>
|
            <a href="/">updates</a>
|
            <a href="/">legal</a>
        </div>

    </body>


</html>
</body>
</html>